body {
    color: red;
    background-color: #4158D0;
    background-image: linear-gradient(90deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    

}

header {
    font-size: 30px;
    
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}